@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Agdasima:wght@400;700&family=Akaya+Telivigala&family=Alumni+Sans+Inline+One:ital@0;1&family=Atomic+Age&family=Bahiana&family=Bahianita&family=Bangers&family=Big+Shoulders+Stencil+Text:wght@100..900&family=Bowlby+One&family=Castoro+Titling&family=Caveat:wght@400..700&family=Creepster&family=Cute+Font&family=Cutive+Mono&family=Dangrek&family=DynaPuff:wght@400..700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Federant&family=Frijole&family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Gloria+Hallelujah&family=Graduate&family=Hi+Melody&family=Hubballi&family=IM+Fell+DW+Pica+SC&family=Labrada:ital,wght@0,100..900;1,100..900&family=Lancelot&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Lumanosimo&family=Maiden+Orange&family=Metal+Mania&family=Milonga&family=Mooli&family=Oswald:wght@200..700&family=Phudu:wght@300..900&family=Princess+Sofia&family=Shadows+Into+Light&family=Sofadi+One&family=Sonsie+One&family=Supermercado+One&family=Syncopate:wght@400;700&family=Tangerine:wght@400;700&family=Tilt+Neon&family=Tourney:ital,wght@0,100..900;1,100..900&family=Train+One&family=Uncial+Antiqua&family=Ysabeau:ital,wght@0,1..1000;1,1..1000&family=Zilla+Slab+Highlight:wght@400;700&display=swap");

body {
  margin: 0px;
  padding: 0px;
}

#root {
  cursor: url(./assets/hotlinenormal6.png), default;
}

.newRoot {
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: repeat(20, 5%);
  width: 100vw;
  height: 100vh;
}

.backgroundImage {
  background-image: url("./assets/pc98.gif");
  /* Adjust the path as needed */
  height: 100vh;
  /* Or whatever fits your design */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* Or 'contain' depending on what you need */
}


.chatbox {
  grid-column-start: 7;
  grid-column-end: 19;
  grid-row-start: 4;
  grid-row-end: 17;
  display: grid;
  grid-template-rows: repeat(5, 1fr);

  background-color: black;
  border: rgb(86, 86, 86) solid 3px;
  border-radius: 15px;
  overflow: hidden;
  opacity: 92%;
  box-sizing: border-box;