@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.tsundere {
  margin-top: 0.5em;
  background: radial-gradient(
    circle,
    rgb(145, 62, 131) 20%,
    rgb(255, 164, 250) 100%
  );

  color: rgb(157, 217, 235);
  text-shadow: 2px 2px 2px black;
  font-size: 1.4em;
  font-family: "Gloria Hallelujah";
}

.tsundere p {
  font-size: 0.5em;
  font-family: "Gloria Hallelujah";
  font-weight: 500;
}

.tsundere-home {
  font-family: "Ysabeau", sans-serif;
  color: rgb(0, 55, 87);
  background: radial-gradient(
    circle,
    rgb(236, 236, 236) 20%,
    rgb(212, 145, 210) 100%
  );
  text-shadow: 1px 1px #cacaca;
  font-size: 0.8em;
}

.tsundere-chat {
  background: radial-gradient(
    circle,
    rgb(200, 132, 206) 20%,
    rgb(83, 23, 80) 100%
  );
}

.tsundere-sidebar {
  grid-column: 1/3;
  grid-row: 1/6;
  background-color: rgb(1, 51, 65);
  overflow-y: scroll;
  gap: 0;
}

.machine {
  background-color: rgb(0, 0, 0);
  color: rgb(0, 255, 0);
  font-size: 1.3em;
  font-family: "Train One", system-ui;
  font-weight: 800;
  margin-top: 0.5em;
}

.machine p {
  font-size: 0.5em;
}

.machine-home {
  font-family: "Ysabeau", sans-serif;
  background-color: rgb(0, 0, 0);
  color: rgb(0, 255, 0);
  text-shadow: 1px 1px 1px blue;
  font-size: 0.8em;
}

.machine-home p {
  font-size: 0.4em;
}

.machine-chat {
  background-color: rgb(0, 0, 0);
  font-size: 1.5em;
  font-family: "Hubballi", sans-serif;
  color: rgb(0, 255, 0);
  font-weight: 600;
  margin: 0;
  text-align: left;
}
.machine-chat input[type="text"] {
  background-color: transparent;
  width: 100%;
  overflow: auto;
  font-size: 13pt;
  font-family: "Hubballi", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 600;
  border: black;
  background: none;
  outline: none;
}

.machine-sidebar {
  grid-column: 1/3;
  grid-row: 1/6;
  background-color: rgb(0, 0, 0);
  gap: 0;
  border: dashed 1px rgb(0, 255, 0);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.machine-sidebar-top {
  flex: 5;
  z-index: 0;
}
.machine-sidebar-bottom {
  flex: 1;
  background-color: black;
  z-index: 1;
  border-top: dashed 1px green;
}

#demo {
  white-space: pre-wrap;
}

.your-granddad {
  background-color: rgb(7, 185, 255);
  font-size: 1.7em;
}

.your-granddad p {
  font-size: 0.6em;
}

.your-granddad-home {
  font-family: "Ysabeau", sans-serif;
  background-color: rgb(7, 185, 255);
  font-size: 0.8em;
}

.your-granddad-home p {
  font-size: 0.6em;
}
#grand-message {
  font-size: 2em;
}

#tsundere-message {
  font-size: 1.2em;
}
.detective {
  font-weight: 800;
  background-color: rgb(90, 60, 22);
  color: rgb(247, 210, 0);
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  font-size: 1.2em;
  font-family: "Labrada", serif;
  font-optical-sizing: auto;
}

.detective p {
  font-size: 0.8em;
}

.detective-home {
  font-weight: 800;
  background-color: rgb(90, 60, 22);
  color: rgb(247, 210, 0);
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  font-family: "Ysabeau", sans-serif;
  font-size: 0.8em;
}

.detective-home p {
  font-size: 0.8em;
}

.friend {
  font-weight: 700;
  color: black;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  font-size: 1.3em;
  font-family: "Princess Sofia", cursive;
}

.friend p {
  font-family: "IM Fell DW Pica SC", serif;
  font-size: 0.7em;
  text-shadow: 1px 1px 1px white;
}

.friend-home {
  color: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(253, 29, 29, 1) 50%,
    rgb(169, 100, 3) 100%
  );

  font-family: "Ysabeau", sans-serif;
  font-size: 0.8em;
  text-shadow: 1px 1px 1px rgb(19, 61, 54);
}

.ted {
  font-family: "Creepster", system-ui;
  background-color: rgb(26, 97, 155);
  font-size: 1.9em;
  color: rgb(243, 243, 243);
  text-shadow: 2px 2px 2px black;
}

.ted p {
  font-family: "Hi Melody", sans-serif;
  font-size: 0.7em;
}

.ted-home {
  font-family: "Ysabeau", sans-serif;
  background-color: rgb(26, 97, 155);
  color: rgb(243, 243, 243);
  text-shadow: 2px 2px 2px black;
  font-size: 0.8em;
}

.ted-home p {
  font-family: "Hi Melody", sans-serif;
  font-size: 0.7em;
}

.socrates {
  font-family: "Castoro Titling", serif;
  font-weight: 700;
  background-color: rgb(235, 206, 112);
  color: #000000;
  text-shadow: 2px 2px 2px white;
  font-size: 1.3em;
}

.socrates p {
  font-size: 0.6em;
}
#socrates-choose {
  font-size: 1em;
}

.socrates-home {
  font-family: "Ysabeau", sans-serif;
  background-color: rgb(235, 206, 112);
  color: #000000;
  text-shadow: 2px 2px 2px white;
  font-size: 0.8em;
}

.socrates-home p {
  font-size: 0.5em;
}

.katarina {
  font-weight: 600;
  background: linear-gradient(0deg, rgb(165, 113, 0) 0%, rgb(0, 166, 169) 100%);
  font-size: 1.4em;
  font-family: "Mooli", sans-serif;
  color: rgb(251, 186, 197);
  text-shadow: 1px 1px 1px black;
}

.katarina p {
  font-size: 0.7em;
}

.katarina-home {
  background: linear-gradient(0deg, rgb(165, 113, 0) 0%, rgb(0, 166, 169) 100%);
  font-family: "Ysabeau", sans-serif;
  color: rgb(251, 186, 197);
  text-shadow: 1px 1px 1px black;
  font-size: 0.7em;
}

.katarina-home p {
  font-size: 0.7em;
}

.pfp {
  width: 200px;
  height: 200px;
  grid-column: 2/3;
  border-radius: 100px;
}
.sidebar-pfp {
  width: 500px;
  height: 500px;
  position: absolute;
  right: -200px;
  top: -20px;
  animation: blur 5s linear infinite;
}

.char-home {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 0;
}
.bio {
  text-align: left;
  font-size: 1.2em;
}

.bio h3 {
  margin: 10px;
}

.bio h4 {
  margin: 10px;
}

.quote {
  font-size: 1.2em;
}
.bottom-half {
  grid-column: 1/4;
  grid-row: 2/4;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: scroll;
  font-size: 1rem;
}
.bottom-half-tsundere {
  background: radial-gradient(
    circle,
    rgba(204, 70, 195, 0.746) 20%,
    rgba(127, 77, 255, 0.676) 100%
  );
  border-radius: 2em 2em 0 0;
  font-size: 1.3em;
}

#tsundere-date {
  font-size: 1.2em;
}

.bottom-half-machine {
  background: #01113470;
  border-radius: 2em 2em 0 0;
}

.bottom-half-detective {
  background: #bcd2d470;
  border-radius: 2em 2em 0 0;
}

.bottom-half-socrates {
  font-family: "Castoro Titling", serif;
  background: #cbccce70;
  border-radius: 2em 2em 0 0;
  font-size: 2rem;
  font-weight: 800;
}

.bottom-half-socrates h2 {
  font-family: "Castoro Titling", serif;
  background: #eaff0070;
  border-radius: 1em 1em 0 0;
  font-size: 1.5rem;
  font-weight: 800;
}

.bottom-half-katarina {
  font-family: "Mooli", sans-serif;
  font-size: 1.85rem;
  background: #80a30270;
  border-radius: 1em 1em 0 0;
  font-weight: 700;
  text-shadow: 1px 1px 1px rgb(126, 0, 169);
}

.bottom-half-dad {
  background: #90a10c70;
  border-radius: 2em 2em 0 0;
}
.bottom-half-friend {
  font-family: "IM Fell DW Pica SC", serif;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  font-size: 2em;
  background: #007b0670;
  border-radius: 2em 2em 0 0;
}

.blurb {
  grid-column: 1/3;
  grid-row: 1/2;
  border-radius: 3em;
}

.blurb h2 {
  margin: 10px;
}

.blurb h3 {
  margin: 10px;
}
.date-and-title {
  display: flex;
  flex-direction: row;
  gap: 1em;
  font-size: 0.7em;
}

.date-and-title-fred {
  font-family: "Creepster", system-ui;
}

#fred-message {
  font-size: 1.1em;
}
.tsundere-blurb {
  text-shadow: 1px 1px #d21c92;
  color: white;
  font-family: "Gloria Hallelujah";
}
.tsundere-blurb p {
  text-align: left;
  margin: 20px;
}
.tsundere-blurb h2 {
  color: rgb(0, 59, 59);
  text-shadow: 1px 1px 1px rgb(203, 203, 203);
}

.detective-blurb {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  text-shadow: 1px 1px 1px black;
}

.machine-blurb {
  text-shadow: 1px 1px #5c1cd2;
  color: rgb(0, 255, 0);
  font-family: "Hubballi", sans-serif;
}
.machine-blurb p {
  text-align: left;
  margin: 20px;
  font-size: 1.4em;
}
.machine-blurb h2 {
  color: rgb(60, 255, 0);
  text-shadow: 1px 1px 1px rgb(135, 162, 194);
  font-size: 2.5em;
}

.dad-blurb {
  text-shadow: 1px 1px #c0c0c0;
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
}
.dad-blurb p {
  text-align: left;
  margin: 20px;
  font-size: 1em;
}
.dad-blurb h2 {
  font-size: 2em;
}

.convo-choose {
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.693);
  overflow: scroll;
  font-family: "Syncopate";
  font-weight: 700;
  font-size: 1rem;
  margin-left: 10px;
}

#machine-choose {
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.693);
  overflow: scroll;
  font-family: "Syncopate";
  font-weight: 700;
  font-size: 2em;
}

#fred-choose {
  font-size: 1em;
}

.start-convo {
  font-family: "Syncopate", sans-serif;
  color: aliceblue;
  background-color: rgb(3, 69, 65);
  font-weight: 700;
  padding-top: 5px;
}
.start-convo-machine {
  font-family: "Syncopate", sans-serif;
  color: rgb(36, 255, 2);
  background-color: transparent;
  border: none;
  font-weight: 600;
  padding-top: 5em;
}

.tsundere-sidebar-content {
  font-family: "Ysabeau", sans-serif;
  font-weight: 500;
  color: white;
  text-shadow: 2px 2px 2px black;
  margin: 0;
}

h3.tsundere-sidebar-content {
  color: rgb(157, 217, 235);
  font-weight: 700;
  text-decoration: underline;
}
p.tsundere-sidebar-content {
  text-align: left !important;
  color: rgb(238, 243, 245);
  text-shadow: 1px 1px 1px rgb(227, 65, 65);
}
