::-webkit-scrollbar {
  width: 0px;
}

.header {
  background-color: rgb(0, 0, 44);
  grid-row: 1/2;
  overflow: hidden;
  grid-column: 1/6;
}

.logo {
  display: flex;
  box-sizing: border-box;
  gap: 2em;
  white-space: nowrap;
}

.logo h1 {
  margin-top: 1em;
  margin-left: 2em;
  font-size: 3.5em;
  filter: drop-shadow(1px 1px #d184b6);
}

.logo img {
  height: 9em;
  width: 9em;
  animation: blur 3s linear infinite;
}

.logo h2 {
  animation: scroll-left 30s linear infinite;
  box-sizing: border-box;
  position: relative;
  bottom: 1em;
}

.chatbody {
  grid-column: 1/6;
  grid-row: 2/6;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.sidebar {
  grid-column: 1/3;
  grid-row: 1/6;
  background-color: rgb(62, 58, 91);
  overflow-y: scroll;
  gap: 0;
}

.sidebar-status-container {
  height: 7rem;
}

.sidebar-char-status {
  height: 90%;
  width: 90%;
  border: solid black 1px;
  margin: auto;
  border-radius: 0.5em;
  overflow: hidden;
}

.home {
  font-family: "Syncopate", sans-serif;
  color: aliceblue;
  background-color: rgb(26, 150, 142);
}

.chatmain {
  grid-column: 3/11;
  grid-row: 1/6;
  overflow-y: scroll;
  padding: 1em;
  box-sizing: border-box;
}

.chatmain-machine {
  grid-column: 3/11;
  grid-row: 1/6;
  overflow-y: scroll;
  padding: 1em;
  box-sizing: border-box;
}

.chathome {
  font-family: "Syncopate", sans-serif;
  color: aliceblue;
  background-color: rgb(0, 38, 48);
  text-shadow: 2px 2px #d21c92;
  font-size: 1.5em;
}

.chathome p {
  font-family: "Ysabeau", sans-serif;
  color: rgb(64, 163, 249);
  background-color: rgb(0, 38, 48);
  text-shadow: 1px 1px #d21c92;
  text-align: left;
}

.chattext {
  background-color: rgb(65, 125, 105);
  cursor: url(./assets/hotlinenormal6.png), auto;
  cursor: url(./assets/hotlinenormal6.png), default;
}

.chatbubblecontainer {
  margin: 15px;
}

.chatbubble {
  max-width: 50%;
  border: solid black 1px;
  background-color: aliceblue;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.chatbubblecontainer .chatbubble.user {
  background-color: #d0e0f0;
}

.chatbubblecontainer .chatbubble.assistant {
  margin-left: 50%;
  background-color: aliceblue;
}

.username {
  height: 2em;
  font-size: 2em;
  /* text-align: left; */
  font-weight: 700;
  color: rgb(0, 0, 0);
  background-color: rgb(205, 154, 154);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-shadow: rgb(255, 146, 146) 3px 3px 3px;
}

.message-body {
  padding: 1.5em;
  word-wrap: break-word;
  font-family: arial;
  text-align: justify;
  font-size: 1.5em;
  font-weight: 400;
  text-shadow: rgb(255, 146, 146) 2px 2px 2px;
  background-color: white;
}

.chatInput {
  box-sizing: border-box;
  height: 1.5rem;
  width: 50%;
  margin: 1em;
  border-radius: 5px;
  filter: drop-shadow(1px 1px #17bdff);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-shadow: 1px 1px 1px #17bdff;
  font-size: 1em;
}

.chatInputButton button {
  background-color: inherit;
  border: none;
  appearance: none;
}
.chatInputButton {
  background: url(./assets/send.png);
  height: 1em;
  width: 1em;
}

.inputImage {
  padding-top: 1em;
  margin-left: 0.5em;
  margin-bottom: 0;
  height: 2em;
  width: 2em;
  position: relative;
  top: 0.5em;
  filter: drop-shadow(2px 4px #66234f);
}
.end-save {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
