.icon {
  height: 6em;
  width: 5em;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.icon2 {
  height: 6em;
  width: 5em;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
  cursor: url(./assets/select.png), pointer;
}
