.initial {
  background-color: black;
}
.loginBackground {
  background-image: url("./assets/lakeside.png"); /* Adjust the path as needed */
  height: 100vh; /* Or whatever fits your design */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; /* Or 'contain' depending on what you need */
}
.login {
  grid-column: 8/13;
  grid-row: 8/13;
}
