.initial {
  background-color: black;
}
.loginBackground {
  background-image: url("./assets/lakeside.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.login {
  grid-column: 8/13;
  grid-row: 8/13;
}
